<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="UserNameHttps.Service" behaviorConfiguration="behaveDemo">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/Service"/>
          </baseAddresses>
        </host>
        <endpoint address="username" binding="wsHttpBinding" bindingConfiguration="bindDemo" contract="UserNameHttps.Iservice"></endpoint>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="bindDemo">
          <security mode="Message">
            <message clientCredentialType="UserName"></message>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaveDemo">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="UserNameHttps.Service+CustomUserNamePasswordValidator,UserNameHttps"></userNameAuthentication>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>