<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1">
          <security>
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2835/Service1.svc" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IService1" contract="IService1"
          name="WSHttpBinding_IService1" behaviorConfiguration="bahaveDemo">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA7Gebdb5S2v2f4KehlMSgOxm8GMggAAAAAQAAADkCAAAwggI1MIIB46ADAgECAhAMcnO1bKERpEGSLOeQOjO9MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTgwNDE1MTQwODU1WhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC600RgJbqBfN+i6s+8LOW2Wed6I5AUxySenhjYRGYA9LsjYgAJIS0VGF5D/Sydi8Zd+aUfH5hpOUQnZuFUx+l7rIRpPXQsaTG/o8v79bbeIZTZ+bXy3rE2PpnmTLyhdGOSxZXDQcntgWpFxlXOFA+czTeTex6Ol6UJTzEl8h0QBRzgnF2WvU2ASQyUZK26vMLwYvrjhFJYXkYPcOyOknMaSU6iryo78nW3lzIOzDO8nrlqJAvr94mA3XkjmX0hIVwj/OOHBIbLw0RPKkgoVT3rKibaOfE9c4Bkavfy6h3VdhGdfD1AHG/h7HJyDUHupfOHX9hFwKP9EwAh5HOBhwfZAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAKKm1y7Nb9mw3/KUVcoW8/qnbcwtl2/WA8VRZCfmw3GLSkoqXtwQLZ1KzfiEtk1QtNqGA6rcYowfhLZmtrgKIzg==" />
        </identity>
      </endpoint>
    </client>

    <!--begin 需手动添加添加-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="bahaveDemo">
          <clientCredentials>
            <clientCertificate findValue="Client" storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--end 需手动添加添加-->
  </system.serviceModel>
</configuration>